$disabledColor = #666
$headerHeight = 40px

.w-app-icon
  cursor pointer
  border-radius 3px
  margin-right 10px
  font-size 20px

  &:hover
    background-color $disabledColor

.w-app-title
  display inline-block
  line-height $headerHeight
  font-weight bold
  font-size 20px