$textColor = #666
$highlightTextColor = #333
$disabledColor = #aaa
$disabledHighlightTextColor = #666

.w-icon
  color $textColor
  cursor pointer
  border-radius 3px

  &:hover
    background-color $disabledColor

.w-icon-disabled
  color $disabledColor

  &:hover
    color $disabledHighlightTextColor
